.Languages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.languageChart {
    display: flex;
    justify-content: center;  /* Space between chart and legend */
    align-items: center;
    width: 100%;                    /* Full width of the parent container */
    height: 100%;                   /* Full height of the parent container */
    flex-wrap: wrap;
    gap: 20px;                      /* Space between chart and legend */
}

.languageChart > div > svg {
    width: 60% !important;         /* Adjust to ensure chart has proper space */
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend {
    width: 30%;                    /* Set width for the legend */
    display: flex;
    flex-direction: column;
    gap: 10px;                     /* Space between legend items */
    width: 300px;               /* Limit the width of the legend */
    max-height: 300px;               /* Limit the width of the legend */
    overflow: auto;               /* Hide overflow */
    scrollbar-width: thin;          /* Thin scrollbar */
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;                     /* Space between color box and text */
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 3px;            /* Slight rounding for the color box */
}

.legend-name {
    font-weight: bold;
    color: #333;                   /* Darker color for visibility */
}

.legend-count {
    color: #666;                   /* Lighter color for article count */
}

.legend-percentage {
    color: #888;                   /* Lightest color for percentage */
    margin-left: auto;             /* Push percentage to the right */
}

@media (max-width: 600px) {
    .legend {
        width: 100%;
    }
  }