* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.header .logo {
  font-size: 32px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -3%;
  color: #3458d8;
}

.header nav{
  display: flex;
  align-items: center;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #333;
}

.header nav ul li a:hover {
  color: #3458d8;
}